<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.wakesmart.utility.Listeners"></listener>
	</listeners>

	<test name="WakeSmart" verbose="3" parallel="classes" thread-count="6">
		<classes>
			<class name="com.wakesmart.testcases.WSLoginPageTest" />
			<class name="com.wakesmart.testcases.WSHomePageTest" />
			<class name="com.wakesmart.testcases.WSAutomationGroupRulesTest" />
			<class name="com.wakesmart.testcases.WSAutomationPolicyRules" />
			<class name="com.wakesmart.testcases.WSAutomationAlertRulesTest" />
			<class name="com.wakesmart.testcases.WSManagementPoliciesTest" />
		</classes>
	</test>
</suite>